.App {
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction:column;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 2vmin);
}

.chart {
   height: 50vh;
   width: 60%;
   padding-left: 20%;
   justify-content: center;
}

.bmi-card {
  width: 40%;
  height:200px
  ;
  margin: 20px;
  background-color: blue;
   padding: 20px;
   display: flex;
   flex-direction: row;
}

.bmi-list {
  width: 100%;
  margin: 5%;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
}